!!!
%html
  %head
    %meta{http: {equiv: 'Content-Type'}, content: 'text/html; charset=UTF-8'}/
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no'}/
    %meta{http: {equiv: 'x-ua-compatible'}, content: 'ie=edge'}/
    %title
      ExpertTodo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :stylesheet_links
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :javascript_links
  %body
    - unless defined?(header) && header == false
      = render partial: '/layouts/header'

    = content_for?(:application_content) ? yield(:application_content) : yield
- content_for :stylesheet_links do
  = stylesheet_link_tag 'grid_system_layout', data: { turbolinks: { track: :reload } }

