- content_for :stylesheet_links do
  = stylesheet_link_tag 'grid_system_layout', data: { turbolinks: { track: :reload } }


- content_for :application_content do
  %header
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to root_path, class: 'navbar-brand' do
        = t 'app_name'
      %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: false, label: 'Toggle navigation' }}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{ role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false }}
                %i.fa.fa-user.fa-lg
                = current_user.name
              .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'navbarDropdown' }}
                = link_to '#', class: 'dropdown-item' do
                  hoge
                .dropdown-divider
                = link_to destroy_user_session_path, {id: 'logoutBtn', class:'dropdown-item', method: :delete} do
                  %i.fa.fa-power-off
                    = t('sign_out')

  .container-fluid
    .row
      .col-sm-9
        %main#main_contents
          = content_for?(:grid_system_content) ? yield(:grid_system_content) : yield

        %footer.clearfix
          .container-fluid
            .row
              .col-sm-12
              = render partial: '/layouts/footer'

      %nav#side_menu.col-sm-3.order-first
        - class_list = %w[nav-link]
        - class_list << 'active' if request.path == my_path
        = link_to root_path, class: class_list do
          %i.fa.fa-home
          = t '.home'
  = javascript_include_tag 'grid_system_layout', 'data-turbolinks-track' => 'reload'

= render template: 'layouts/application'

