- content_for :stylesheet_links do
  = stylesheet_link_tag 'grid_system_layout', 'data-turbolinks-track' => :reload


- content_for :application_content do
  .container-fluid
    .row
      - if defined?(side_menu) && side_menu == false
        .col-sm-12
          %main#main_contents
            = content_for?(:application_content) ? yield(:application_content) : yield

          %footer.clearfix
            .container-fluid
              .row
                .col-sm-12
                  = render partial: '/layouts/footer'
      - else
        .col-sm-9
          %main#main_contents
            = content_for?(:application_content) ? yield(:application_content) : yield

          %footer.clearfix
            .container-fluid
              .row
                .col-sm-12
                  = render partial: '/layouts/footer'

        %nav#side_menu.col-sm-3.order-first
          = render partial: '/layouts/side_menu_items'

  = javascript_include_tag 'grid_system_layout', 'data-turbolinks-track' => 'reload'

= render template: 'layouts/application'

